* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #111111;
}

.nav-link,
.navbar-brand,
.navbar-toggler-icon {
  color: white !important;
}

.circle-btn {
  border-radius: 50%;
  background-color: #6a6a76;
  border: none;
  color: white;
  height: 48px;
  width: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -2px;
}

.promo {
  background-color: #3b3b3b;
  border: none;
  border-radius: 48px;
  width: 100%;
  position: relative;
  color: white;
  height: 48px;
}

.promocode {
  background-color: #3b3b3b !important;
  border: none !important;
  width: calc(100% - 43px) !important;
  font-size: 18px !important;
  height: 20px !important;
  margin-left: 5px !important;
  color: white !important;
}

.code {
  background-color: #3b3b3b;
}

.items-number {
  position: absolute;
  background-color: white;
  border: 1px solid #e31836;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #e31836;
  font-size: 12px;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
